/*------------------------------------*\

$CUSTOM PROPERTIES

\*------------------------------------*/

:root{

/*
* ============== SIZES ==============
*/

    /*----------GLOBAL----------*/

    --sides-general-padding:    clamp(1.5rem, 3vw, 7rem); /*padding lateral general de la web*/
    --sides-section-padding:    clamp(2rem, 6.5vw, 12rem); /*padding adicional del contenido dentro de una sección*/
    --imner-cards-padding:      clamp(1.5rem, 3vw, 4rem); /*padding interior de diferentes secciones con forma de carta*/
    --big-border-radius:        clamp(2rem, 4.5vw, 6rem); /*bordes redondeados para secciones de la web*/
    --medium-border-radius:     clamp(1rem, 2.25vw, 2.875rem); /*bordes redondeados para secciones de la web dentro de otra sección con los bordes redondeados más grandes*/
    --big-sections-spacing:     clamp(6rem, 10vw, 12rem); /*separación grande entre secciones*/
    --small-sections-spacing:   3.75rem; /*separación pequeña entre el título y el inicio de una sección*/
    --pill-style-edge:          10rem; /*bordes totalmente redondeados para hacer un efecto píldora en elementos como etiquetas o botones*/

    /*----------TEXT PADDINGS----------*/

    --big-padding:      clamp(1.5rem, 2.5vw, 3.5rem);  
    --medium-padding:   clamp(1rem, 1.5vw, 2rem);
    --small-padding:    clamp(0.75rem, 0.875vw, 1rem);

    /*----------HEADER----------*/

    --header-height:            6rem;
    --header-padding-outer:     1rem 1.5rem;
    --header-padding-inner:     0.75rem;

/*
* ============== COLORS ==============
*/

    /*----------WEB COLOR PALETTE----------*/

    --primary-color:            rgba(255, 249, 240, 1);
    --secondary-color-100:      rgba(31, 17, 0, 1);
    --secondary-color-80:       rgba(76, 64, 48, 1);
    --secondary-color-60:       rgba(121, 110, 96, 1);
    --secondary-color-40:       rgba(166, 156, 144, 1);
    --secondary-color-20:       rgba(210, 203, 192, 1);
    --shadow-color-transparent: rgba(0, 0, 0, 0.25);

    /*----------PROJECTS COLORS----------*/

    /*Project 1 color palette (Paula Perelló Podología)*/
    --brunswick-color-project1:     rgba(23, 63, 53, 1);
    --cambridge-color-project1:     rgba(120, 159, 144, 1);
    --mindaro--color-project1:      rgba(194, 225, 137, 1);
    --glicina-color-project1:       rgba(193, 167, 226, 1);

    /*Project 2 color palette (The Cookie Jar)*/
    --jazmin-color-project2:        rgba(255, 237, 131, 1);
    --amaranto-color-project2:      rgba(158, 0, 68, 1);
    --caedo--color-project2:        rgba(236, 208, 242, 1);
    --midnight-color-project2:      rgba(0, 72, 69, 1);
    --tea-color-project2:           rgba(216, 241, 204, 1);
    --chrysler-color-project2:      rgba(33, 27, 198, 1);
    --mint--color-project2:         rgba(201, 242, 235, 1);
    --mauveine-color-project2:      rgba(127, 11, 160, 1);

    /*Project 3 color palette (Taurino Digital Agency)*/
    --red-color-project3:           rgba(206, 14, 48, 1);
    --night-color-project3:         rgba(17, 17, 20, 1);
    --white-color-project3:         rgba(245, 247, 251, 1);

}

/*------------------------------------*\

$TEXT STYLES

\*------------------------------------*/

body {
     font-family: "Inter Tight", sans-serif;
    
}

/*
* ============== HEADINGS ==============
*/


h1,
.h1 {
    font-weight: 900;
}

h2,
.h2 {
    font-size: clamp(2rem, 3.5vw, 4rem);
    font-weight: 900;
    text-transform: uppercase;                 
}

h3,
.h3,
h4 {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    font-weight: 700;
}

h5,
.h5 {
    font-size: clamp(0.75rem, 1.5vw, 2rem);
    font-weight: 400;
}

/*
* ============== BODY TEXT, LISTS... ==============
*/


p,
.p,
li{
    font-size: clamp(0.875rem, 1.75vw, 1rem);
    font-weight: 400;
}

/*------------------------------------*\

$BUTTONS

\*------------------------------------*/

/*
* ============== PROJECTS BUTTON ==============
*/
.projects__btn {
    width: fit-content;
    padding: 1rem 4rem;    
    border-radius: 10rem;
    font-weight: 700;
    font-size: clamp(0.875rem, 1vw, 1.5rem);

    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);
    color: var(--secondary-color-100);
    cursor: pointer;

    transition: gap 0.2s,
                box-shadow 0.05s;

}

@media (hover:hover){
.projects__btn:hover{
    gap: 2rem;    
}
}

.projects__btn:focus-within{
    box-shadow: inset 8px 8px 0px var(--shadow-color-transparent);
}
   
    .arrow {
        width: 1em;
        height: auto;
    }

    
/*
* ============== HEADER BUTTON ==============
*/
.header__btn {
    background-color: var(--secondary-color-100);
    color: var(--primary-color);
    height: 100%;
    padding: 0 2rem;
    border-radius: var(--pill-style-edge);

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__btn-link {
    transition: letter-spacing 0.3s;
}

.header__btn-link:hover,
.header__btn-link:focus-within {
    letter-spacing: 0.2em;    
}

/*------------------------------------*\

$ANIMATIONS

\*------------------------------------*/

/* === [VISTO EN YOUTUBE: https://www.youtube.com/watch?v=16PncZlSNds === */

/*El elemento aparece cuando entra en pantalla con un fundido y con movimiento vertical*/
@supports (animation-timeline: view()) and (animation-range: entry 20% cover 100vh){
    .auto-show {
        animation: textAppear both;
        animation-timeline: view();
        animation-range: entry 20% cover 100vh;
    }

    @keyframes textAppear {
        from {
            opacity: 0;
            transform: translateY(200px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/*El elemento entra y sale de pantalla difuminado*/
@supports (animation-timeline: view()){
    .auto-blur {
        animation: autoBlurAnimation linear both;
        animation-timeline: view();
    }

    @keyframes autoBlurAnimation {
    0%, 100%  { filter: blur(20px); }  /* entra y sale difuso */
    15%, 75%  { filter: blur(0);    }  /* mientras está visible */
    }


/*El elemento aparece en pantalla augemntando su tamaño y con un pequeño movimiento vertical*/
.fade-up {
    animation: fadeUp both;
    animation-timeline: view();
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(10px) scale(0.5);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/*El elemento rota cuando aparece en pantalla*/
.auto-rotate {
    animation: AutoRotateAnimation;
    animation-timeline: view();
}

@keyframes AutoRotateAnimation {
    from {
        transform: rotate (0deg);
    }

    to {
        transform: rotate (360deg);
    }
}
}

/*------------------------------------*\

$BODY & SHARED STYLES

\*------------------------------------*/

body {
    background-color: var(--primary-color); /*por defecto la web tiene este color de fondo*/
    color: var(--secondary-color-100); /*por defecto la web tiene este color de texto*/
}

.section-initial {    
    width: 100%;
    height: 100vh;
}
    /*si el navegador soporta dvh usar esta propiedad*/
    @supports (height: 100dvh) {
        .section-initial {
            height: 100dvh;
    }
    }

.section {
    width: 100%;
    height: auto;
    padding: var(--big-sections-spacing) var(--sides-general-padding) 0 var(--sides-general-padding);
}

.title__line {
    background-color: var(--secondary-color-40);
    width: 100%;
    height: 4px;
}

/*------------------------------------*\

$FOOTER

\*------------------------------------*/

.section__contact {        
    width: 100%;
    padding-top: var(--big-sections-spacing);
}

.contact__container {
    min-height: clamp(200px, 20vw, 350px);
    width: 100%;
    height: auto;
    padding: var(--imner-cards-padding);

    border-radius: var(--big-border-radius) var(--big-border-radius) 0 0;  
    background-image: url('../assets/images/webp/paper-texture.webp'); 
    background-color: var(--secondary-color-100);
    color: var(--primary-color);
}

    .section__description {
        padding-top: var(--big-padding); 
        padding-bottom: var(--small-padding); 
    }

    .mail__container { 
        height: clamp(1rem, 1.5vw, 2rem);
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        gap: 1rem;
    }

        .icon__container {
            height: 100%;
            aspect-ratio: 1;
        }

            .mail__icon {
                width: 100%;
                height: 100%;
            }

    .footer__line {
        margin-top: var(--small-padding);
    }