/*------------------------------------*\

$BODY & SHARED STYLES

\*------------------------------------*/

body {
    background-color: var(--primary-color); /*por defecto la web tiene este color de fondo*/
    color: var(--secondary-color); /*por defecto la web tiene este color de texto*/
}

.title__line {
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
}

/*------------------------------------*\

$HEADER

\*------------------------------------*/

.header__wrapper {
    width: 100%;
    height: var(--height-header-size);
    padding: var(--outside-header-padding);
    position: fixed;
    z-index: 10; /*para que se posicione por debajo del header-nav__wrapper */
    
}

    .header {
        width: 100%;
        height: 100%;
        background-color: var(--accent-color);
        border-radius: var(--pill-style-edge);
        
    }

        .header__container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: var( --inside-header-padding);
        }

            .header__logo-container {
                width: 8%;
                height: 100%;
                
            }

                .header__logo {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    fill: var(--secondary-color);
                }

            .header__btn {
                height: 100%;
                min-width: 8%;
                padding: 0 1.5rem;
                border-radius: var(--pill-style-edge);
                background-color: var(--primary-color);
                font-weight: 700;
            }



        .header-nav {
            width: 100%;
            height: var(--height-header-size);
            padding: var(--outside-header-padding);
            position: fixed;
            top: 0;
            left: 0;
        }
            .header-nav__wrapper {  
                width: 100%;
                height: 100%;

                position: relative; /*para poder posicionar el header-nav__indicator en el eje Z*/
                top: 0;
                left: 0;
                z-index: 11; /*para que se posicione por encima del header__container*/

                display: flex;
                justify-content: center;
                align-items: center;
            }

                .header-nav__container {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: var( --inside-header-padding);

                }

                    .header-nav__nav {
                    position: relative; /*para poder posicionar el header-nav__indicator usando absolute*/
                    width: 35%;
                    height: 100%;
                    }

                        .header-nav__list {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        background: var(--primary-color);
                        border-radius: var(--pill-style-edge);
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                        overflow: hidden;
                        }


                            .header-nav__item {
                            flex: 1;
                            text-align: center;
                            cursor: pointer;                            
                            font-weight: 400;
                            position: relative;
                            z-index: 1; /*para que se posicione por encima del header-nav__indicator*/
                            transition: color 0.3s;
                            }

                            .header-nav__item.active {
                            color: var(--primary-color);
                            font-weight: 700;
                            }

                        /*indicador del menú de navegación*/
                        .header-nav__indicator {
                            position: absolute; 
                            top: 50%; /* el borde superior del indicador se alinea con el centro del menú */
                            left: 8px; 
                            transform: translateY(-50%); /* el eje central del indicador se alinea con el centro del menú */

                            width: calc(100% / 3 - 16px); /* 100% dividido por el número de elementos del menú menos el padding */
                            height: calc(100% - 12px); /* 100% de la altura del menú menos el padding */

                            background: var(--secondary-color);
                            border-radius: var(--pill-style-edge);
                            transition: left 0.3s;
                            z-index: 0; /*para que se posicione por debajo de los items del menú */

                        }

/*------------------------------------*\

$SECTION HELLO

\*------------------------------------*/

.section__hello {

    width: 100%;
    height: 100vh;
    padding: calc(var(--height-header-size) + 96px) 200px 0 200px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    border-radius: 0 0 var(--big-border-radius) var(--big-border-radius); 
    box-shadow: 12px 12px 6px lightgray;

    background-image: url('../assets/images/paper-texture.jpg'); 
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 

}

    .hello__intro {
        padding-bottom: 24px;
        color: var(--primary-color);
    }

        .hello__greeting {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        }
 
        .hello__title {
            font-size: clamp(3rem, 6vw, 9rem);
            line-height: 1.1;
            color: var(--accent-color);
            text-align: center;
            
        }

/*------------------------------------*\

$DIVIDER

\*------------------------------------*/

.section-divider {
    width: 100%;
    height: auto;
}

    .section-divider__folder-closure-container {
        max-width: 10%;
        height: auto;
        position: relative;
        top: 0;
        left: 50%; /* el borde izquierdo del container se alinea con el eje vertical de la web */
        transform: translate(-50%, -50%); /*el container se mueve el 50% de su anchura a la izquierda y el 50% de su altura hacia arriba*/
    }

    .section-divider__img-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

        .section-divider__img-container {
            width: 50%;
            height: 600px;
            background-color: gray;
        }

/*------------------------------------*\

$SECTION PROJECTS

\*------------------------------------*/

.section__projects {
    width: 100%;
    height: auto;
    padding: var(--big-sections-spacing) var(--sides-general-padding) 0 var(--sides-general-padding);
}

    .projects__container {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;

        padding: 3.75rem 0 0 0;
    }

        .section__project {
            width: 100%;
            height: 75vh;
            border-radius: var(--big-border-radius);
            padding: 50px;

            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            gap: 50px;

            color: var(--primary-color) /*para que el texto de todos sus hijos sea de este color*/

        }

        .section__project > * {
            height: 100%;
            flex: 1;
        }

        .section__project:nth-child(even) {
            flex-flow: row-reverse wrap;
        }

        .section__project--project1 {
            background-color: var(--brunswick-color-project1);
        }

        .section__project--project2 {
            background-color: var(--amaranto-color-project2);
        }

        .section__project--project3 {
            background-color: var(--red-color-project3);
        }

            .project__image {
                background-color: grey;
                border-radius: var(--medium-border-radius);
            }
            .project__content {

            }

                .project__skills-labels {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 12px;
                }

                    .label {
                        padding: 12px 32px;
                        border-radius: var(--pill-style-edge);
                        background-color: var(--bg-color-labels);
                    }
                    
                .project__title {
                    font-size: 1.75rem;
                    padding-top: var(--big-padding);                    
                }

                .project__description {                    
                    text-transform: uppercase;
                    padding: var(--small-padding) 0 var(--big-padding) 0;
                }

/*------------------------------------*\

$SECTION EXPERTISE

\*------------------------------------*/

.section__expertise {
    width: 100%;
    height: auto;
    padding: var(--big-sections-spacing) var(--sides-general-padding) 0 var(--sides-general-padding);
    
}

    .expertise__container {
        width: 100%;
        height: 100%;
        padding: var(--small-sections-spacing) var(--sides-section-padding) 0 var(--sides-section-padding);
        
        display: grid;
        grid-template-areas:
            "imagine    .       ."
            "imagine    design  ."
            "imagine    design  develop"
            ".          design  develop"
            ".          .       develop";
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

        .expertise__area--imagine {grid-area: imagine;}
        .expertise__area--design {grid-area: design;}
        .expertise__area--develop {grid-area: develop;}

            .expertise__img-container {
                padding-bottom: var(--medium-padding);
            }

                .expertise__img {
                    width: 100%;
                    max-height: 50vh;
                    object-fit: contain;
                    object-position: left top;
                }

            .expertise__title {
                padding-bottom: var(--small-padding);
            }
            

/*------------------------------------*\

$FOOTER

\*------------------------------------*/

footer {
   padding: var(--big-sections-spacing) var(--sides-general-padding) 0 var(--sides-general-padding); 
}

