/*------------------------------------*\

$HEADER

\*------------------------------------*/

.header__wrapper {
    width: 100%;
    height: var(--header-height);
    padding: var(--header-padding-outer);
    position: fixed;   
    z-index: 1; /*Para que se posicione por encima del resto de cosas de la web*/
}

    .header {
        width: 100%;
        height: 100%;
        background-color: var(--secondary-color-40);
        border-radius: var(--pill-style-edge);

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: var( --header-padding-inner);
        position: relative;        
    }

            .header__logo-container {      
                display:inline-flex; 
                width:fit-content;
                height:100%; 
                flex: 0 0 auto;            
                                
            }

            .header-nav__btn {
                display: none;
                height: 100%;
                aspect-ratio: 1;

                background-color: var(--secondary-color-100);
                border-radius: var(--pill-style-edge);
            }

                .nav-menu__container{
                    width: 100%;
                    height: 100%;                     

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .burguer-menu {
                        width: 80%;
                        height: 80%;
                        fill: var(--primary-color)
                        }

                    .cross-menu {
                        width: 100%;
                        height: 100%;
                        fill: var(--primary-color)
                        }

            .header-nav {
                position: relative; /*para poder posicionar el header-nav__indicator usando absolute*/
                height: 100%;
                width: 65%;
            }

                .header-nav__list {
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;

                    background: var(--primary-color);
                    border-radius: var(--pill-style-edge);
                    overflow: hidden;                    
                }

                    .header-nav__item {
                        position: relative;                        
                        z-index: 1; /*para que se posicione por encima del header-nav__indicator*/
                        flex: 1;
                        text-align: center;                                                                       
                        cursor: pointer; 
                        transition: color 0.3s;
                        }

                        .header-nav__item.active {
                        color: var(--primary-color);
                        font-weight: 700;
                        }

                    /*indicador del menú de navegación*/
                    .header-nav__indicator {
                        position: absolute; 
                        z-index: 0; /*para que se posicione por debajo de los items del menú */

                        transform: translateY(-50%); /* el eje central del indicador se alinea con el centro del menú */                        
                        top: 50%; /* el borde superior del indicador se alinea con el centro del menú */
                        width: calc(100% / 4 - 1rem); /* 100% dividido por el número de elementos del menú menos el padding */
                        height: calc(100% - 0.75rem); /* 100% de la altura del menú menos el padding */
                        left: 0.5rem; /*para que desde el principio haya un margen izquierdo entre el contenedor y el indicador*/                                            

                        background: var(--secondary-color-100);
                        border-radius: var(--pill-style-edge);
                        transition: left 0.3s;                        

                    }

/*------------------------------------*\

$SECTION HELLO

\*------------------------------------*/

.section__hello {

    width: 100%;
    height: 100vh;
    padding: calc(var(--header-height) + var(--small-sections-spacing)) var(--sides-section-padding) 0 var(--sides-section-padding);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    border-radius: 0 0 var(--big-border-radius) var(--big-border-radius); 
    box-shadow: 0.75rem 0.75rem 0 var(--shadow-color-transparent);

    background-image: url('../assets/images/wbmp/paper-texture.webp'); 
    background-color: var(--secondary-color-100);
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 
}

@supports (height: 100dvh) {
    .section__hello {
        height: 100dvh;
  }
}

        .hello__greeting {            
            font-size: clamp(2rem, 2.5vw, 3rem);
            text-align: center;
            color: var(--primary-color);
            padding-bottom: 1.5rem;
        }
 
        .hello__title {
            font-size: clamp(3.5rem, 9vw, 8rem);
            line-height: 1.1;
            color: var(--primary-color);
            text-shadow:5px 5px 0 var(--secondary-color-60);
            text-align: center; 
            transition: all 0.3s; 
            cursor: default; 
        }

        /*Si estamos en un dispositivo que soporta hover (un ordenador con ratón) se ejecuta*/
        @media (hover:hover){
            .hello__title:hover{
                text-shadow:                    
                    5px 5px 0 var(--secondary-color-60),
                    10px 10px 0 var(--secondary-color-80),                   
                    25px 25px 0 var(--shadow-color-transparent); 
            }
        }  
        
        /*Si estamos en un dispositivo que NO soporta hover (móviles y tablets) se oscurece la sombra para mejor legibilidad*/
        @media (hover:none){
            .hello__title {
                text-shadow: 5px 5px 0 var(--secondary-color-80);                     
            }
        } 

        

/*------------------------------------*\

$DIVIDER

\*------------------------------------*/

.section-divider {
    width: 100%;
    height: auto;
}

    .section-divider__folder-closure-container {
        width: 10%;
        max-width: 180px;
        height: auto;
        position: relative;
        top: 0;
        left: 50%; /* el borde izquierdo del container se alinea con el eje vertical de la web */
        transform: translate(-50%, -50%); /*el container se mueve el 50% de su anchura a la izquierda y el 50% de su altura hacia arriba*/
        pointer-events:none;
    }

    .section-divider__img-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

        .section-divider__img-container {
            width: 100%;
            height: 100%;;
        }

            .divider__img {
                width: 100%;
                max-height: 100vh;
                object-fit: contain;
                object-position: center center;
            }

/*------------------------------------*\

$SECTION PROJECTS

\*------------------------------------*/

.section__projects {
    width: 100%;
    height: auto;
    padding: var(--big-sections-spacing) var(--sides-general-padding) 0 var(--sides-general-padding);
}

    .projects__container {
        width: 100%;
        height: auto;
        padding-top: 3.75rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        
    }

        .section__project {
            width: 100%;           
            border-radius: var(--big-border-radius);
            padding: var(--imner-cards-padding);  

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch; 
            gap: var(--imner-cards-padding); 

            color: var(--primary-color) /*para que el texto de todos sus hijos sea de este color*/

        }

        .section__project > * { /*seleccionamos todos los hijos directos de .section__project*/
            flex: 1; /*hace que los dos hijos ocupen el mismo ancho*/
        }

        .section__project:nth-child(even) {
            flex-direction: row-reverse; /*invertimos el orden de los elementos en fila de los hijos impares de .section__project*/
        }

        .section__project--project1 {
            background-color: var(--brunswick-color-project1);
        }

        .section__project--project2 {
            background-color: var(--amaranto-color-project2);
        }

        .section__project--project3 {
            background-color: var(--red-color-project3);
        }

            .project__image-container {
                position: relative;
                min-height: 250px; 
                border-radius: var(--medium-border-radius);
                object-fit: cover;
                overflow: hidden;
            }

                .project__image {
                    position: absolute;         /* superpuesta al contenedor */
                    inset: 0;                   /* top:0; right:0; bottom:0; left:0; */
                    width: 100%;
                    height: 100%;               /* para que haga efecto object-fit */
                    object-fit: cover;          /* recorta para cubrir */
                    object-position: center;    /* centra el recorte vertical/horizontal */
                }

                .project__skills-labels {
                    display: flex;
                    flex-wrap: wrap;
                    gap: clamp(0.5rem, 2vw, 0.75rem);
                }

                    .label {
                        padding: clamp(0.5rem, 2vw, 0.75rem) clamp(1rem, 2vw, 1.25rem);
                        border-radius: var(--pill-style-edge);
                        background-color: var(--shadow-color-transparent);
                    }
                    
                .project__title {
                    padding-top: var(--big-padding);                    
                }

                .project__description {                    
                    text-transform: uppercase;
                    padding: var(--small-padding) 0 var(--big-padding) 0;
                }

/*------------------------------------*\

$SECTION EXPERTISE

\*------------------------------------*/

.section__expertise {
    width: 100%;
    height: auto;
    padding: var(--big-sections-spacing) var(--sides-general-padding) 0 var(--sides-general-padding);
    
}

    .expertise__container {
        width: 100%;
        height: 100%;
        padding: var(--small-sections-spacing) var(--sides-section-padding) 0 var(--sides-section-padding);
        
        display: grid; /*usamos grid-template-areas para crear el efecto escalera*/
        grid-template-areas:
            "imagine    .       .      "
            "imagine    design  .      "
            "imagine    design  develop"
            ".          design  develop"
            ".          .       develop";
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
        /*damos nombre a cada uno de los elemento para poder posicionarlos arriba con grid-template-areas*/
        .expertise__area--imagine {grid-area: imagine;}
        .expertise__area--design {grid-area: design;}
        .expertise__area--develop {grid-area: develop;}

            .expertise__img-container {
                padding-bottom: var(--medium-padding);
            }

                .expertise__img {
                    width: 100%;
                    max-height: 50vh;
                    object-fit: contain;
                    object-position: left top;
                }

            .expertise__title {
                padding-bottom: var(--small-padding);
            }
            
/*------------------------------------*\

$FOOTER

\*------------------------------------*/

.section__contact {        
    width: 100%;
    padding: var(--big-sections-spacing) var(--sides-general-padding) var(--small-sections-spacing) var(--sides-general-padding);
}

.contact__container {
    min-height: clamp(200px, 20vw, 350px);
    width: 100%;
    height: auto;
    border-radius: var(--medium-border-radius);  
    padding: var(--imner-cards-padding);

    background-color: var(--secondary-color-100);
    color: var(--primary-color);
}

    .section__description {
        padding-top: var(--big-padding); 
        padding-bottom: var(--small-padding); 
    }

    .mail__container { 
        height: clamp(1rem, 1.5vw, 2rem);
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        gap: 1rem;
    }

        .icon__container {
            height: 100%;
            aspect-ratio: 1;
        }

            .mail__icon {
                width: 100%;
                height: 100%;
            }

    .footer__line {
        margin-top: var(--small-padding);
    }
        
/*------------------------------------*\

$BREAK POINTS

\*------------------------------------*/


/* ================================ max-width 1200px ================================ */

@media (max-width: 1200px) {

    /*Augmentamos el tamaño del "folder-closure" */
    .section-divider__folder-closure-container {
            width: 20%;
    }
}

/* ================================ max-width 768px ================================ */

@media (max-width: 768px) {

    /*El botón de la navegación del header pasa a ser visible*/
    .header-nav__btn {
        display: block;
    }
        /*Intercambio de visibilidad entre el burguer-menu y el cross-menu*/
        /*Los estilos de ambos se encuentran más arriba en la sección HEADER*/
        .nav-menu__container--burguer {
            display: none;
        }

        .nav-menu__container--burguer.active {
            display: flex;
        }

        .nav-menu__container--cross {
        display: none;
        }

        .nav-menu__container--cross.active {
            display: flex;
        }

    /*La lista de navegación pasa a ocupar el 100% y se reajusta para posicionarse correctamente*/
    .header-nav {
        position: relative;
        top: 1rem;
        width: 100%;
        height: 0;
        transition: all 0.3s ease;
        pointer-events: none;
    }

    /*Cuando tiene la clase active es visible*/
    .header-nav.active {
        height: 25vh; 
        pointer-events: auto;

    }
        /*los ítems de navegación pasan de estar en fila a estar en columna*/
        .header-nav__list {
            flex-direction: column; 
            background-color: var(--primary-color);
            border-radius: var(--big-border-radius);
            box-shadow: 0.75rem 0.75rem 0 var(--shadow-color-transparent);
        }

            /*les ponemos un padding en el top y el bottom para espaciar los ítems*/
            .header-nav__item {
                padding: 1rem 0;
                display: flex;
                justify-content: center;
                align-items: center;                
            }

            .header-nav__indicator {
                top: 0.5rem; /*para que desde el principio haya un margen superior entre el contenedor y el indicador*/                  
                left: 50%;  /*el borde izquierdo del indicador se alinea con el centro del menú */                  
                transform: translateX(-50%);  /*el eje vertical del incidador de alinea con el eje vertical del indicador*/
                width: 40%;     
                height: calc(100% / 4 - 1rem); /* 100% dividido por el número de elementos del menú menos el padding */           
                transition: top 0.3s;               
            }
        
/*Augmentamos el tamaño del "folder-closure" */
.section-divider__folder-closure-container {
        width: 25%;
}

/*Cambiamos la disposición de la "SECTION PROJECTS", los elementos de cada uno de los proyectos pasan a estar en columna*/
.section__project {
    flex-direction: column;
}
.section__project:nth-child(even) {
        flex-direction: column;
    }

/*width 100% para los buttons en versión columna*/
    .general__btn {
        width: 100%;
        padding: 1rem 1rem;
    }

/*Cambiamos la disposición de la "SECTION EXPERTISE" a columna, sobreescribiendo el grid*/
    .expertise__container {
        display: flex;
        flex-direction: column;
    }
            .expertise__img { /*centramos las imágenes*/
                object-position: center center;
            }

}