/*------------------------------------*\

$INTRO

\*------------------------------------*/

.intro__project--1 {
    background-color: var(--brunswick-color-project1);
}
    
/*------------------------------------*\

$OVERVIEW

\*------------------------------------*/

.overview__section {
    padding-top: var(--small-sections-spacing);
}

    .overview__container {
        width: 100%;
        height: 100%;
    }

        .content__section--sticker{
            position: relative;
            top: 7px;
            margin-left: calc(var(--sides-section-padding) + 5%);
            max-width: 150px;
            aspect-ratio: 1;
        }

        .content__section--summary {
            padding: 0 var(--sides-section-padding);            
        }

            .summary__container {
                border: 2px solid var(--secondary-color-100);
                display: grid;
                grid-template-areas: 
                    "name       name"
                    "type       type"
                    "duration   role"
                    "tools      tools";                            
            }

                .summary__content--name{grid-area: name;}
                .summary__content--type{grid-area: type;}
                .summary__content--duration{grid-area: duration;}
                .summary__content--role{grid-area: role;}
                .summary__content--tools{grid-area: tools;}

                .summary__content {
                    border: 2px solid var(--secondary-color-100);
                    padding: var(--gap-summary-grid);

                    display: flex;
                    flex-direction: column;
                    gap: var(--gap-summary-grid);
                }


/*------------------------------------*\

$GOALS

\*------------------------------------*/

.section__goals {
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: end;
}

    .section__goals-container {
        width: 60%;
    }

        .goals__title {
            padding-top: var(--small-sections-spacing);
        }

        .goals__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 2rem;
        }

            .goal {
                padding-top: 2rem;
                margin-top:2rem;
                border-top: 1px solid var(--secondary-color-100);
            }

/*------------------------------------*\

$IMG DIVIDER

\*------------------------------------*/

.img__divider {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: var(--big-sections-spacing);
    overflow: hidden;
}

/*------------------------------------*\

$VALUE PROPOSITION & CUSTOMER PROFILE

\*------------------------------------*/

.section__customer {
    width: 100%;
    height: auto;

}

    .customer__wrapper {
        width: 100%;
        height: 100%;
        padding: var(--small-sections-spacing) var(--sides-section-padding) 0 var(--sides-section-padding);

        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

        .customer__container {
            width: 100%;
            height: 100%;         
        }

            .customer__container-title {
                padding-bottom: var(--medium-padding);
            }

                .accordion__container {
                    width: 100%;
                    height: auto;
                    padding: 1rem;
                    border-bottom: 1px solid var(--secondary-color-100);
                }

                    .accordion__title-arrow {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                    }

                        .accordion__arrow {
                            transition: transform 0.4s ease;
                        }

                        .accordion__arrow.active {
                            transform: rotate(180deg);
                        }

                    .accordion__text-container {
                        padding: 0;
                        height: 0;
                        overflow: hidden;
                        transition: all 0.4s ease;
                    }

                    .accordion__text-container.active {
                        padding-top: var(--small-padding);
                        height: auto;
                    }

                        .accordion__text {
                            padding-bottom: 0.5rem;
                        }

/*------------------------------------*\

$COLORS AND TYPOGRAPHY

\*------------------------------------*/

.typography__wrapper {
    width: 100%;
    height: auto;
    padding: var(--small-sections-spacing) var(--sides-section-padding) 0 var(--sides-section-padding);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

    .typography__container {
        width: 50%;

        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

        .typography {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }

            .typography__use,
            .typography__typo {
                flex:1;
            }

            .typography__use {
                align-self: flex-end; /* Se ajusta a su contenido */
            }

            .typography__typo {
                width: 100%;
                height: 100%;
            }


/*------------------------------------*\

$BREAK POINTS

\*------------------------------------*/

/* ================================ max-width 1024px ================================ */

@media (max-width: 1024px) {

/*Augmentamos el ancho de la sección Goals */
.section__goals-container {
    width: 80%;
}
}

/* ================================ max-width 768px ================================ */

@media (max-width: 768px) {

/*Augmentamos el ancho de la sección Goals */
.section__goals-container {
    width: 100%;
}

/*Forzamos el height de la imagen divisora al 50vh */
.img__divider {
    height: 50vh;
}

/*Pasamos los acordeones de las propuestas de valor y el perfil del cliente a columna */
/*Quitamos el padding de los laterales*/
.customer__wrapper {
    flex-direction: column;
    padding: var(--small-sections-spacing) 0 0 0;
}

/*Augmentamos el ancho del contenedor de las typo*/
.typography__container {
    width: 70%;
}
}

/* ================================ max-width 480px ================================ */

@media (max-width: 480px) {

/*Augmentamos el ancho del contenedor de las typo*/
.typography__container {
    width: 95%;
}

/*Augmentamos el ancho del contenedor de las typo*/
.typography {
    gap: 1rem;
}
}