/*------------------------------------*\

$CUSTOM PROPERTIES

\*------------------------------------*/

:root{

/*
* ============== SIZES ==============
*/

--gap-summary-grid:    clamp(0.5rem, 1vw, 1rem); /*padding y gap del grid de la intro*/

}

/*------------------------------------*\

$HEADER

\*------------------------------------*/

.header__wrapper {
    width: 100%;
    height: var(--header-height);
    padding: var(--header-padding-outer);
    position: fixed;   
    z-index: 100; /*Para que se posicione por encima del resto de cosas de la web*/
}

    .header {
        width: 100%;
        height: 100%;
        padding: var(--header-padding-inner);
        background-color: var(--secondary-color-40);
        border-radius: var(--pill-style-edge);

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;        
    }

        .header__logo-container{   
            height: 100%;  
            object-fit: contain;                                                       
        }

            .header__logo-container,
            .header__logo {    
                height: 100%;  
                aspect-ratio: 1; 
                                                      
            }

            .header__logo {    
                fill: var(--secondary-color-100); 
                transition: all 0.2s ease;                                                      
            }

            .header__logo-link:hover .header__logo,
            .header__logo-link:focus-visible .header__logo           {
                fill: var(--primary-color);    
            }


/*------------------------------------*\

$INTRO

\*------------------------------------*/

.logo__project {
    width: 100vh;
    max-height: 400px;
    object-fit: contain;
}
    


