/*------------------------------------*\

$INTRO

\*------------------------------------*/

.intro__project--1 {
    background-color: var(--brunswick-color-project1);
}
    
/*------------------------------------*\

$OVERVIEW

\*------------------------------------*/

.overview__section {
    padding-top: var(--small-sections-spacing);
}

    .overview__container {
        width: 100%;
        height: 100%;
    }

        .content__section--sticker{
            position: relative;
            top: 7px;
            margin-left: calc(var(--sides-section-padding) + 5%);
            max-width: 150px;
            aspect-ratio: 1;
        }

        .content__section--summary {
            padding: 0 var(--sides-section-padding);            
        }

            .summary__container {
                border: 2px solid var(--secondary-color-100);
                display: grid;
                grid-template-areas: 
                    "name       name"
                    "type       type"
                    "duration   role"
                    "tools      tools";                            
            }

                .summary__content--name{grid-area: name;}
                .summary__content--type{grid-area: type;}
                .summary__content--duration{grid-area: duration;}
                .summary__content--role{grid-area: role;}
                .summary__content--tools{grid-area: tools;}

                .summary__content {
                    border: 2px solid var(--secondary-color-100);
                    padding: var(--gap-summary-grid);

                    display: flex;
                    flex-direction: column;
                    gap: var(--gap-summary-grid);
                }


/*------------------------------------*\

$GOALS

\*------------------------------------*/

.section__goals {
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: end;
}

    .section__goals-container {
        width: 60%;
    }

        .goals__title {
            padding-top: var(--small-sections-spacing);
        }

        .goals__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 2rem;
        }

            .goal {
                padding-top: 2rem;
                margin-top:2rem;
                border-top: 1px solid var(--secondary-color-100);
            }

/*------------------------------------*\

$IMG DIVIDER

\*------------------------------------*/

.img__divider {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: var(--big-sections-spacing);
    overflow: hidden;
}

/*------------------------------------*\

$VALUE PROPOSITION & CUSTOMER PROFILE

\*------------------------------------*/

.section__customer {
    width: 100%;
    height: auto;

}

    .customer__wrapper {
        width: 100%;
        height: 100%;
        padding: var(--small-sections-spacing) var(--sides-section-padding) 0 var(--sides-section-padding);

        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

        .customer__container {
            width: 100%;
            height: 100%;         
        }

            .customer__container-title {
                padding-bottom: var(--medium-padding);
            }

                .accordion__container {
                    width: 100%;
                    height: auto;
                    padding: 1rem;
                    border-bottom: 1px solid var(--secondary-color-100);
                }

                    .accordion__title-arrow {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                    }

                        .accordion__arrow {
                            transition: transform 0.4s ease;
                        }

                        .accordion__arrow.active {
                            transform: rotate(180deg);
                        }

                    .accordion__text-container {
                        padding: 0;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.4s ease-in-out, padding-top 0.3s ease-in-out;
                        will-change: max-height; /*propiedad de CSS que le dice al navegador qué propiedades de un elemento probablemente van a cambiar en breve, para que pueda prepararse por adelantado y optimizar el rendimiento.*/
                    }

                    .accordion__text-container.active {
                        padding-top: var(--small-padding);
                        max-height: 1000px;
                    }

                        .accordion__text {
                            padding-bottom: 0.5rem;
                        }

/*------------------------------------*\

$COLORS AND TYPOGRAPHY

\*------------------------------------*/

/*
* ============== TYPOGRAPHY ==============
*/

.typography__wrapper {
    width: 100%;
    height: auto;
    padding-top: var(--small-sections-spacing);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

    .typography__container {
        width: 50%;
        padding: 0 var(--sides-section-padding);
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

        .typography {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }

            .typography__use,
            .typography__typo {
                flex:1;
            }

            .typography__use {
                align-self: flex-end; /* Se ajusta a su contenido */
            }

            .typography__typo {
                width: 100%;
                height: 100%;
            }

/*
* ============== COLORS ==============
*/

.colors__container{
    padding-top: var(--big-sections-spacing);
}
.colors__container,
.colors__pair-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    gap: 3rem;
}

    .color__container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

/*------------------------------------*\

$COLOR LOGO VARIATIONS

\*------------------------------------*/

.section__color-variations {
    width: 100%;
    height: auto;
    padding-top: calc(var(--big-sections-spacing) * 2);
}

    .color-variations__text {
        padding-top: var(--small-sections-spacing);
        padding-bottom: 1rem;
    }

        .tabs__container {
            width: 100%;
            height: 70vh;
            padding-top: 1rem;
        }

            .variations__buttons {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
            }

                .variations__button {
                    width: 100%;
                    height: 3rem;
                    border-radius: 1rem 1rem 0 0;
                }

                .variations__button--1 {
                    background-color: var(--cambridge-color-project1);
                }
                .variations__button--2 {
                    background-color: var(--mindaro--color-project1);
                }
                .variations__button--3 {
                    background-color: var(--black-color--80);
                }
                .variations__button--4 {
                    background-color: var(--black-color--20);
                }

            .variations__container {
                width: 100%;
                height: 100%;
                position: relative;
            }

                .variation {
                    width: 100%;
                    height: 100%;
                    padding: 3%;
                    border-radius: 0 0 1rem 1rem;

                    position: absolute;
                    top: 0;
                    opacity: 0;
                    transition: all 0.2s ease;
                }

                .variation--1 {
                    background-color: var(--cambridge-color-project1);
                }
                .variation--2 {
                    background-color: var(--mindaro--color-project1);
                }
                .variation--3 {
                    background-color: var(--black-color--80);
                }
                .variation--4 {
                    background-color: var(--black-color--20);
                }

                .variation.active {
                    opacity: 1;
                }

                    .variation__conatiner {
                        width: 100%;
                        height: 100%;
                        padding: 7%;
                        background-color: brown;
                        border-radius: 1rem;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden; /* Por si acaso */
                    }

                    .variation__conatiner--1 {
                        background-color: var(--brunswick-color-project1);
                    }
                    .variation__conatiner--2 {
                        background-color: var(--white-color);
                    }
                    .variation__conatiner--3 {
                        background-color: var(--black-color--100);
                    }
                    .variation__conatiner--4 {
                        background-color: var(--white-color);
                    }

                        .variation__img{
                            max-width: 100%;
                            max-height: 100%;
                            width: auto;
                            height: auto;
                            object-fit: contain;
                        }

/*------------------------------------*\

$PRINT

\*------------------------------------*/

.section__print {
   padding-top: calc(var(--big-sections-spacing) * 2); 
}

    .print__container {
        width: 100%;
        height: auto;
        padding: var(--small-sections-spacing) var(--sides-section-padding) 0 var(--sides-section-padding);

        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

        .print__subcontainer {
            flex: 1;
            padding-top: var(--small-sections-spacing);
        }

        .print__text {
            font-size: clamp(1rem, 1.2vw, 1.375rem);
            padding-bottom: 1rem;
        }

    .print__business-card {
        width: 100%;
        height: auto;
        padding-top: var(--small-sections-spacing);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

    }

    .business-card__container {
        position: relative;
        min-width: 260px;
        min-height: 400px;
    }

        .business-card {
            width: 260px;
            height: 400px;
            border-radius: 1rem;
            border: 1px solid var(--brunswick-color-project1);

            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            transition: transform 0.5s ease-in-out;
            transform-style: preserve-3d;
            overflow: hidden;
        }

        .business-card--back {
            transform: rotateY(180deg);
            backface-visibility: hidden;
        }
/*------------------------------------*\

$BREAK POINTS

\*------------------------------------*/

/* ================================ max-width 1024px ================================ */

@media (max-width: 1024px) {

/*Augmentamos el ancho de la sección Goals */
.section__goals-container {
    width: 80%;
}
}

/* ================================ max-width 768px ================================ */

@media (max-width: 768px) {

/*Augmentamos el ancho de la sección Goals */
.section__goals-container {
    width: 100%;
}

/*Forzamos el height de la imagen divisora al 50vh */
.img__divider {
    height: 50vh;
}

/*Pasamos los acordeones de las propuestas de valor y el perfil del cliente a columna */
/*Quitamos el padding de los laterales*/
.customer__wrapper {
    flex-direction: column;
    padding: var(--small-sections-spacing) 0 0 0;
}

/*Augmentamos el ancho del contenedor de las typo*/
.typography__container {
    width: 70%;
}


/*Los colores pasan de 1 fila a 2*/
.colors__container {
    flex-direction: column;
}

/*Reducimos la altura de las tabls*/
.tabs__container {
    width: 100%;
    height: 50vh;
    padding-top: 1rem;
}

/*La sección del estampado pasa a columna*/
.print__container {   
    flex-direction: column;
}
}

/* ================================ max-width 480px ================================ */

@media (max-width: 480px) {

/*Augmentamos el ancho del contenedor de las typo*/
.typography__container {
    width: 90%;
    padding: 0 0;
}

/*Augmentamos el ancho del contenedor de las typo*/
.typography {
    gap: 1rem;
}

/*Los colores pasan de 1 fila a 2*/
.colors__pair-container {
    flex-direction: column;
}
}