/*------------------------------------*\

$CUSTOM PROPERTIES

\*------------------------------------*/

:root{

    /* Sizes */
    --height-header-size: 128px;
    --outside-header-padding: 24px 60px;
    --inside-header-padding: 16px;

    /* Colors */
    --primary-color: #FFF9F0;
    --secondary-color: #1F1100;
    --accent-color: #CDB996;
}

/*------------------------------------*\

$TEXT STYLES

\*------------------------------------*/

body {
     font-family: "Inter Tight", sans-serif;
}